@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;700&display=swap');

/********************
    共通設定
********************/
body{
    font-family: 'M PLUS 1p', sans-serif;
    color: #333;
}
.inner{
    width: 90%;
    margin: 0 auto;
}
.main-ttl{
    font-size: 2.4rem;
}
.w-20{
    width: 20%;
}
.txt-center{
    text-align: center;
}
.txt-18{
    font-size: 1.8rem;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.txt-center{
    text-align: center;
}


//変数
$main-color:#fce38a;
$sub-color:#eaffd0;
$third-color:#95e1d3;
$btn-color:#f38181;



/********************
    1. header
********************/
header{
    background-color: $main-color;
    border-bottom: 1px solid #fdda5b;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        &__ttl{
            font-size: 3rem;
        }
    }
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // &__item:first-child{
        //     margin-right: 20px;
        // }
        &__btn{
            padding: 10px 20px;
            background-color: $third-color;
            border-radius: 5px;
            color: #fff;
        }
    }
}
/********************
    2. login/signup
********************/
.login,.signup{
    width: 100%;
    height: 100vh;
    background-image: url('../img/travel.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
    &__ttl{
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        letter-spacing:  3px;
    }
    &__box{
        width: 70%;
        max-width: 500px;
        margin: 0 auto;
        background-color: #eee;
        padding: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid rgb(196, 196, 196);
        border-radius: 5px!important;
    }
    &__input{
        display: block;
        width: 100%;
        padding: 10px 5px;
    }
    &__btn{
       display: inline-block;
       padding: 10px 20px;
       background-color: $btn-color;
       border-radius: 5px!important;
       color: #fff;
       border: 1px solid #f85858;
    }
}
/********************
    3. mypage.php
********************/
.mypage{
    display: flex;
    &__form{
        width: 70%;
        padding: 30px 50px;
        border: 2px solid #eee;
        div{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        input,textarea,select{
            display: block;
            width: 100%;
            background-color: #eee;
            padding: 10px;
        }
    }
    &__list{
        width: 30%;
    }
    .list-items{
        padding: 20px;
        margin-left: 10px;
        background-color: #eee;
        min-height: 300px;
        li{
            margin-bottom: 20px;
        }
    }
    .form-btn{
        width: 120px;
        margin: 0 auto;
        background-color: $btn-color;
        color: #fff;
    }
}
